<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<section th:fragment="content">

    <nav>
        <ul class="pager">
            <li class="previous" th:classappend="${firstDisable} ? disabled : null">
                <a th:href="${firstDisable} ? '#' : @{'/user/list/'+${prevPage}}">Previous</a>
            </li>
            <li class="next" th:classappend="${lastDisable} ? disabled : null">
                <a th:href="${firstDisable} ? '#' : @{'/user/list/'+${nextPage}}">Next</a>
            </li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <tr>
                    <th th:text="#{login}"></th>
                    <th th:text="#{name}"></th>
                    <th th:text="#{birthday}"></th>
                    <th th:text="#{sex}"></th>
                    <th th:text="#{country}"></th>
                </tr>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.birthday}"></td>
                    <td th:text="${user.sex}"></td>
                    <td th:text="${user.country}"></td>
                </tr>
            </table>
        </div>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous" th:classappend="${firstDisable} ? disabled : null">
                <a th:href="${firstDisable} ? '#' : @{'/user/list/'+${prevPage}}">Previous</a>
            </li>
            <li class="next" th:classappend="${lastDisable} ? disabled : null">
                <a th:href="${firstDisable} ? '#' : @{'/user/list/'+${nextPage}}">Next</a>
            </li>
        </ul>
    </nav>

</section>
</body>
</html>