<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="row" th:fragment="content">
    <div class="col-md-offset-3 col-md-6">
        <form class="form-horizontal" th:object="${userEntity}" method="POST" th:action="@{/sign/up}">

            <div class="form-group" th:classappend="${#fields.hasErrors('login')} ? has-error : null">
                <label for="login" class="col-md-3 control-label" th:text="#{login}"></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" th:field="*{login}" id="login" th:placeholder="#{login}">
                    <span class="help-block" th:errors="*{login}" th:if="${#fields.hasErrors('login')}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error : null">
                <label for="password" class="col-md-3 control-label" th:text="#{password}"></label>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="password" name="password" th:placeholder="#{password}">
                    <span class="help-block" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error : null">
                <label for="name" class="col-md-3 control-label" th:text="#{name}"></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="name" th:field="*{name}" th:placeholder="#{name}">
                    <span class="help-block" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('country')} ? has-error : null">
                <label for="country" class="col-md-3 control-label" th:text="#{country}"></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="country" th:field="*{country}" th:placeholder="#{country}">
                    <span class="help-block" th:errors="*{country}" th:if="${#fields.hasErrors('country')}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('sex')} ? has-error : null">
                <label class="col-md-3 control-label" th:text="#{sex}"></label>
                <div class="col-md-9">
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="0"><span th:text="#{sex.m}"></span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="1"><span th:text="#{sex.f}"></span>
                    </label>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? has-error : null">
                <label for="birthday" class="col-md-3 control-label" th:text="#{birthday}"></label>
                <div class="col-md-9">
                    <input type="date" class="form-control" id="birthday" th:field="*{birthday}" th:placeholder="#{birthday}">
                    <span class="help-block" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-default" th:text="#{sign.up}"></button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>